<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Курс тренировок</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<nav class="navbar " id="header">
  <a href="" class="navbar-brand text-light" >
    <img src="assets\logo.png" alt="" width="50px">
    <font class="font">Фитнес тренер</font>
  </a>
</nav>
<a href=""><img src="assets\back_button.png" alt="" width="200vh"id="go_back"></a>
<div class="container-fluid" id="container">
  <center>
    <h1 id="info_Text" class="font"><b>Этапы твоего курса:</b></h1>
    <th:block th:each="stage : ${stages}">
      <a th:href="@{'stages/stage' + ${stage.stageID}}"><button type="button" name="" class="btn btn-success btn-sm step shadow font" data-toggle="button" aria-pressed="false" th:text="${stage.number}" value=""></button></a>
    </th:block>

  </center>
</div>
<nav class="navbar " id="footer">
  <h5>Сайт был создан в рамках 2 производстенной практики</h5>
</nav>
  <style type="text/css">
  body{
    background-color: #0a1d1d;
  }
  #go_back{
    margin: 20px;
  }
  #header{
    background-color: #021216;
    height: 70px;
    width: 100%;
      padding: 0;
    padding-left: 20px;

  }
  #footer{
    background-color: #021216;
    height: 70px;
    width: 100%;
      padding: 0;
    padding-left: 20px;

  }
  #info_Text{
    color:#5dbb44;
    margin-bottom: 4vh;
  }
  #container{
    margin-top:20vh ;
    min-width: 200px;
    max-width: 800px;
    min-height: 90vh;
  align-content: center;
  margin-left: auto;margin-right: auto;
  }
  .step{
    margin: 2vh;
  }
  .step:hover{
    background-color: #3af29a
  }
  .font{
    font-family:Bahnscrift;
  }
  </style>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="js/anime.min.js"></script>
  <script>
  anime({
  targets: '.btn',
  scale: 1.5,

  duration:2000,
  direction: 'alternate',
  loop: false,
  delay: function(el, i, l) {
    return i * 100;
  },

});
  </script>
</body>
</html>
