<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Результаты</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<nav class="navbar " id="header">
  <a href="" class="navbar-brand text-light" >
    <img src="assets\logo.png" alt="" width="50px">
    <font class="font">Фитнес тренер</font>
  </a>
</nav>
<a href=""><img src="assets\back_button.png" alt="" width="200vh"id="go_back"></a>
<div class="container-fluid" id="container">
  <center>
    <table class="table" >
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="font">№</th>
          <th scope="col" class="font">Этап</th>
          <th scope="col" class="font">Оценка</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="item : ${courseResults}">
          <th scope="row"><span class="table_item" th:text="${item.stageNumber}">-</span></th>
          <td><span class="table_item font" th:text="${item.name}">-</span></td>
          <td><span class="table_item font" th:text="${item.assessment}">-</span></td>
        </tr>
      </tbody>

    </table>
  </center>
</div>
<nav class="navbar " id="footer">
  <h5>Сайт был создан в рамках 2 производстенной практики</h5>
</nav>
  <style type="text/css">
  body{
    background-color: #0a1d1d;
  }
  #header{
    background-color: #021216;
    height: 70px;
    width: 100%;
      padding: 0;
    padding-left: 20px;

  }
  #footer{
    background-color: #021216;
    height: 70px;
    width: 100%;
      padding: 0;
    padding-left: 20px;

  }
  #go_back{
    margin: 20px;
  }
  #hello_User{
    color:white;
    margin-bottom: 5vh;
  }
  .table_item{
    color: white;
  }
  #container{
    margin-top:10vh ;
    min-width: 400px;
    max-width: 700px;
    min-height: 70vh;
  align-content: center;
  margin-left: auto;margin-right: auto;
  }
  .button{
    margin-bottom: 2vh;
  }
  .font{
    font-family:Bahnscrift;
  }
  </style>
</body>
</html>
