<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Результаты</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<nav class="navbar " id="header">
  <a href="" class="navbar-brand text-light" >
    <img src="assets\logo.png" alt="" width="50px">
    <font class="font">Фитнес тренер</font>
  </a>
</nav>
<div class="container-fluid" id="container">
  <center>
    <h1 class="result text-success font">Результаты тренировки:</h1>
    <h4 class="result font">Количество пропущенных упражнений: <span th:text="${stage.missingExerciseCount}" class="text-success"></span></h4>
    <h4 class="result font">Оценка за этап: <span th:text="${stage.assessment}" class="text-success"></span></h4>
    <a th:href="@{'http://localhost:8080/user'+${stage.userID}+'/stages'}">Вернуться к этапам</a>
  </center>
</div>
<nav class="navbar " id="footer">
  <h5>Сайт был создан в рамках 2 производстенной практики</h5>
</nav>
  <style type="text/css">
  body{
    background-color: #0a1d1d;
  }
  #header{
    background-color: #021216;
    height: 70px;
    width: 100%;
      padding: 0;
    padding-left: 20px;
  }
  #footer{
    background-color: #021216;
    height: 70px;
    width: 100%;
      padding: 0;
    padding-left: 20px;

  }
  .result{
    color:white;
    margin-bottom: 3vh;
  }
  #container{
    margin-top:30vh ;
    min-width: 400px;
    max-width: 700px;
    min-height: 70vh;
  align-content: center;
  margin-left: auto;margin-right: auto;
  }
  .button{
    margin-bottom: 2vh;
  }
  .font{
    font-family:Bahnscrift;
  }
  </style>
  <script type="text/javascript">

  </script>
</body>
</html>
